<footer id="footer">
	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?574bd75cb6b87036d89fc0c072f86ee9";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
    <div class="outer" style="max-width:none">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> 黄太洪<br>
            <a href="http://www.miibeian.gov.cn">沪ICP备13043688号</a> Powered by <a href="" target="_blank">黄太洪</a>. 
        </div>
    </div>
</footer>