<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; <%= date(new Date(), 'YYYY') %> 黄太洪<br>
            <a href="http://www.miibeian.gov.cn">沪ICP备13043688号</a> Powered by <a href="" target="_blank">黄太洪</a>. 
        </div>
    </div>
</footer>