<% if (typeof(script) !== 'undefined' && script) { %>
    <script id="cy_cmt_num" src="https://changyan.sohu.com/upload/plugins/plugins.list.count.js?clientId=<%= theme.comment.changyan.appid %>"></script>
    <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
    <script type="text/javascript">
    window.changyan.api.config({
    appid: '<%= theme.comment.changyan.appid %>',
    conf: '<%= theme.comment.changyan.conf %>'
    });
    </script>
<% } else { %>
	<div style="text-align: center">
		<button id="rewardButton" ,="" disable="enable" onclick="var qr = document.getElementById('QR'); if (qr.style.display === 'none') {qr.style.display='block';} else {qr.style.display='none'}" style="cursor: pointer; border: 0; outline: 0; border-radius: 100%; padding: 0; margin: 0; letter-spacing: normal; text-transform: none; text-indent: 0px; text-shadow: none">
			<span onmouseover="this.style.color='rgb(236,96,0)';this.style.background='rgb(204,204,204)'" onmouseout="this.style.color='#fff';this.style.background='rgb(236,96,0)'" style="display: inline-block; width: 70px; height: 70px; border-radius: 100%; color: rgb(255, 255, 255); font-weight: 400; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-stretch: normal; font-size: 35px; line-height: 75px; font-family: microsofty; background: rgb(236, 96, 0);">赏</span>
		</button>
		<div id="QR" style="display: none;">
			<div id="wechat" style="display: inline-block">
				<a href="/images/wx.jpg" class="fancybox" rel="group"><img id="wechat_qr" src="http://oxje1v37b.bkt.clouddn.com/%E5%BE%AE%E4%BF%A1%E4%BA%8C%E7%BB%B4%E7%A0%81.png" style="width: 200px; max-width: 100%; display: inline-block"></a>
				<p>微信打赏</p>
				<a href="/images/zfb.png" class="fancybox" rel="group"><img id="wechat_qr" src="http://oxje1v37b.bkt.clouddn.com/%E6%94%AF%E4%BB%98%E5%AE%9D%E4%BA%8C%E7%BB%B4%E7%A0%81.png" style="width: 200px; max-width: 100%; display: inline-block"></a>
				<p>支付宝打赏</p>
			</div>
		</div>
	</div>
    <div id="SOHUCS" sid="<%= post.path %>">
		
	</div>
<% } %>